@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/img/home.png');
    background-size: cover;
    background-position: center;

}

.home h1 {
    color: white;
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: 4rem;
}
.home h3{
    color: white;
    opacity: 80%;
}

nav {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
}

nav h2 {
    color: #009AF0;
    font-weight: bold;
    font-family: "Poppins", serif;
    font-size: 28px;
    ;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    display: inline-block;
    font-weight: medium;
    text-decoration: none;
}

nav ul li a:hover {
    color: #009AF0;
    transition: .5s;
}

button {
    border: none;
    background: #009AF0;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .5s;

}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background: white;
    color: #009AF0;
    stroke: #009AF0 2px;
}

.main-point1{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}



.point1 {
    height: 100px 0px;
    width: 100%;
    background: white;
    
}

.point1  img{
   width: 405px;
   height: 473px; 
}


.point1-text {
    width: 550px;
    
}

.point1-text h4 {
    color: #009AF0;
    tab-size: 26px;
    margin-bottom: 7px;
}

.point1-text h3{
    font-size: 36px;
    font-weight: medium;
    margin-bottom: 7px;
}

.point1-text p {
    text-transform: capitalize;
}

/* point 2 */



.main-point2{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.main-point2 img {
    width: 448px;
    height: 458px;
}

.point2-text {
    width: 550px;
    
}

.point2-text h4 {
    color: #009AF0;
    tab-size: 26px;
    margin-bottom: 7px;
}

.point2-text h3{
    font-size: 36px;
    font-weight: medium;
    margin-bottom: 7px;
}

.point2-text p {
    text-transform: capitalize;
}




@media (max-width : 1000px) {
    :root{
        font-size: 10px;
    }
    .main{
        flex-direction: column;
    }
    
}

